[Unit]
Description=Prometheus network exporter
After=network.target

[Service]
ExecStart=/opt/prometheus-network-exporter/prometheus-network-exporter
User=root
Group=root
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

